
.formWrapper {
    display:flex;
    height: 100%;
    width:100%;
    justify-content: center;
    align-items: center;   
}

.SubmitButton{
    outline:none;
    border:none;
    padding:12px 15px;
    margin-top:18px;
    border-radius:5px;
    background:#7f03fc;
    color:white;
    align-self: flex-start;
}

.form {
    display:flex;
    flex-direction:column;
    width:300px;
}

.formInput {

    border-radius: 5px;
    padding:10px;
    outline:none;
    border: none;
    transition: 100ms;
    
}


.SubmitButton:hover{
    cursor:pointer;
}