
.formWrapper {
    display:flex;
    height: 100%;
    width:100%;
    justify-content: center;
    align-items: center;   
}

.SubmitButton{
    outline:none;
    border:none;
    padding:20px;
    align-self:center;
    margin-top:8px;
    border-radius:5px;
    background:#7f03fc;
    color:white;
}

.formInput {

    border-radius: 5px;
    padding:10px;
    margin-bottom: 10px;
    width:100%;
    outline:none;
    border: none;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}


.SubmitButton:hover{
    cursor:pointer;
}